docker/node-red/data/flows.json
[{"id":"b5d89b4377a11f18","type":"tab","label":"Migration Rehearsal","disabled":false,"info":"Accepts forwarded legacy hub traffic over HTTP, decodes iMoni packets, normalizes child telemetry, and publishes to the local MQTT broker."},{"id":"c5812f56b80b9a3e","type":"mqtt-broker","name":"Local NATS MQTT","broker":"nats","port":"1883","clientid":"migration-rehearsal-node-red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":"","userProps":"","sessionExpiry":""},{"id":"nr_http_in_01","type":"http in","z":"b5d89b4377a11f18","name":"Forwarded Legacy Traffic","url":"/migration/legacy-ingest","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":170,"y":280,"wires":[["nr_delay_01"]]},{"id":"nr_delay_01","type":"delay","z":"b5d89b4377a11f18","name":"Burst Smoothing","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"25","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":280,"wires":[["nr_ingress_guard_01"]]},{"id":"nr_ingress_guard_01","type":"function","z":"b5d89b4377a11f18","name":"Ingress Guard","func":"\nconst receivedAt = new Date().toISOString();\nconst debugEnabled = flow.get('migration_debug') === true;\nconst body = msg.payload;\n\nlet candidate = body;\nif (body && typeof body === 'object' && !Array.isArray(body)) {\n    candidate = body.packet ?? body.rawPacket ?? body.raw_packet ?? body.hexPacket ?? body.payload ?? body;\n}\n\nconst responseMsg = {\n    ...msg,\n};\n\nif (candidate === null || candidate === undefined || candidate === '') {\n    responseMsg.statusCode = 400;\n    responseMsg.payload = {\n        accepted: false,\n        error: 'empty_payload',\n        received_at: receivedAt,\n    };\n\n    return [responseMsg, {\n        payload: {\n            stage: 'ingress',\n            dropped_reason: 'empty_payload',\n            received_at: receivedAt,\n        },\n    }, null];\n}\n\nconst processMsg = {\n    payload: candidate,\n    _meta: {\n        source: 'node-red-imoni',\n        received_at: receivedAt,\n        debug_enabled: debugEnabled,\n    },\n};\n\nresponseMsg.statusCode = 202;\nresponseMsg.payload = {\n    accepted: true,\n    received_at: receivedAt,\n};\n\nreturn [responseMsg, null, processMsg];\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["nr_json_response_01"],["nr_debug_diag_01"],["nr_decode_01"]]},{"id":"nr_json_response_01","type":"json","z":"b5d89b4377a11f18","name":"JSON Response","property":"payload","action":"","pretty":false,"x":900,"y":220,"wires":[["nr_http_response_01"]]},{"id":"nr_http_response_01","type":"http response","z":"b5d89b4377a11f18","name":"Forwarding Result","statusCode":"","headers":{},"x":1130,"y":220,"wires":[]},{"id":"nr_debug_diag_01","type":"debug","z":"b5d89b4377a11f18","name":"Migration Diagnostics","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":420,"wires":[]},{"id":"nr_decode_01","type":"function","z":"b5d89b4377a11f18","name":"IMoni Decoding Script","func":"\nfunction packetTypeMap() {\n    return {\n        0x00: 'Null packet',\n        0x01: 'addPeripheral',\n        0x02: 'remPeripheral',\n        0x03: 'modifyPPIO',\n        0x04: 'updatePPconfig',\n        0x05: 'readPPconfig',\n        0x06: 'updateDevConfig',\n        0x07: 'readDevConfig',\n        0x08: 'updateIOConfig',\n        0x09: 'readIOConfig',\n        0x0A: 'modifyiMoniIO',\n        0x0B: 'dataRequest',\n        0x0C: 'errList',\n        0x0D: 'suspendPeripheral',\n        0x0E: 'releasePeripheral',\n        0x0F: 'suspendAll',\n        0x10: 'releaseAll',\n        0x11: 'peripheralStatus',\n        0x12: 'PeripheralAlarm',\n        0x13: 'PeripheralData',\n        0x14: 'PeripheralFailAlarm',\n        0x15: 'peripheralSerialData',\n        0x16: 'iMoniBusy',\n        0x17: 'iMoniError',\n        0x18: 'changeUpdateIngerval',\n        0x19: 'changeConnectionSettings',\n        0x1A: 'heartBeat',\n        0x1B: 'serverCommand',\n        0x1C: 'ack',\n        0x1D: 'storedData',\n        0x1E: 'Success',\n        0x1F: 'Error',\n        0x20: 'pt_OA',\n        0x21: 'HarmonicData',\n    };\n}\n\nfunction actionCodeLengths() {\n    return {\n        0x01: 0x04,\n        0x02: 0x03,\n        0x03: 0x02,\n        0x04: 0x03,\n        0x05: 0x06,\n        0x06: 0x06,\n        0x09: 0x02,\n        0x0A: 0x02,\n        0x0B: 0x02,\n        0x0C: 0x02,\n        0x0F: 0x03,\n        0x10: 0x02,\n        0x11: 0x02,\n        0x12: 0x02,\n        0x13: 0x02,\n        0x14: 0x02,\n        0x15: 0x02,\n        0x16: 0x02,\n        0x18: 0x03,\n        0x19: 0x06,\n        0x1A: 0x06,\n        0x1B: 0x0A,\n        0x1C: 0x02,\n        0x1D: 0x02,\n    };\n}\n\nfunction actionCodeLabels() {\n    return {\n        0x01: 'readAnalogIN',\n        0x02: 'readDigitalIN',\n        0x03: 'setDigitalOut',\n        0x04: 'clearDigitalOut',\n        0x05: 'setIOLimits',\n        0x06: 'readIOLimits',\n        0x09: 'enableAlarm',\n        0x0A: 'disableAlarm',\n        0x0B: 'enableIO',\n        0x0C: 'disableIO',\n        0x0F: 'changeIOMode',\n        0x10: 'analogIN_High',\n        0x11: 'analogIN_Low',\n        0x12: 'analogIN_OK',\n        0x13: 'digitalAlarm_High',\n        0x14: 'digitalAlarm_Low',\n        0x15: 'digitalOK_Low',\n        0x16: 'digitalOK_High',\n        0x18: 'readDigitalOutStatus',\n        0x19: 'read32bitdata',\n        0x1A: 'writeSerial',\n        0x1B: 'read64bitdata',\n        0x1C: 'peripheralFail',\n        0x1D: 'peripheralOk',\n    };\n}\n\nfunction peripheralTypeMap() {\n    return {\n        '00': 'iMoni_LITE',\n        '01': 'iMoni_LITE1',\n        '02': 'iMoni_LITE2',\n        '03': 'iMoni_LITE3',\n        '06': 'iMoni_LITE6',\n        '07': 'iMoni_LITE7',\n        '08': 'iMoni_LITE8',\n        '11': 'IOext1',\n        '12': 'IOext2',\n        '13': 'IOext3',\n        '14': 'IOext4',\n        '15': 'IOext5',\n        '16': 'IOext6',\n        '17': 'IOext7',\n        '18': 'IOext8',\n        '19': 'IOext9',\n        '1A': 'IOext10',\n        '1B': 'IOext11',\n        '1C': 'IOext12',\n        '1D': 'IOext13',\n        '1E': 'IOext14',\n        '1F': 'IOext15',\n        '21': 'AC_energyMate1',\n        '22': 'AC_energyMate2',\n        '23': 'AC_energyMate3',\n        '24': 'AC_energyMate4',\n        '25': 'AC_energyMate5',\n        '26': 'AC_energyMate6',\n        '27': 'AC_energyMate7',\n        '28': 'AC_energyMate8',\n        '29': 'AC_energyMate9',\n        '2A': 'AC_energyMate10',\n        '2B': 'AC_energyMate11',\n        '2C': 'AC_energyMate12',\n        '2D': 'AC_energyMate13',\n        '2E': 'AC_energyMate14',\n        '2F': 'AC_energyMate15',\n        '31': 'DC_energyMate41',\n        '32': 'DC_energyMate42',\n        '41': 'UIMate1',\n        '42': 'UIMate2',\n        '51': 'Modbus1',\n        '52': 'Modbus2',\n        '53': 'Modbus3',\n        '54': 'Modbus4',\n        '55': 'Modbus5',\n        '56': 'Modbus6',\n        '57': 'Modbus7',\n        '58': 'Modbus8',\n        '59': 'Modbus9',\n        '5A': 'Modbus10',\n        '5B': 'Modbus11',\n        '5C': 'Modbus12',\n        '5D': 'Modbus13',\n        '5E': 'Modbus14',\n        '5F': 'Modbus15',\n        '60': 'WiFiMate',\n        '70': 'RadioMate',\n        '80': 'peripheralAll',\n        '81': 'THsensor1',\n        '82': 'THsensor2',\n        '83': 'THsensor3',\n        '84': 'THsensor4',\n        '85': 'THsensor5',\n        '86': 'THsensor6',\n        '87': 'THsensor7',\n        '88': 'THsensor8',\n        '89': 'THsensor9',\n        '8A': 'THsensor10',\n        '8B': 'THsensor11',\n        '8C': 'THsensor12',\n        '8D': 'THsensor13',\n        '8E': 'THsensor14',\n        '8F': 'THsensor15',\n        '91': 'AC_energyMate11',\n        '92': 'AC_energyMate12',\n        '93': 'AC_energyMate13',\n        'A1': 'AC_energyMate21',\n        'A2': 'AC_energyMate22',\n        'B1': 'AC_energyMate31',\n        'B2': 'AC_energyMate32',\n        'C1': 'AC_energyMate41',\n        'C2': 'AC_energyMate42',\n        'C3': 'Harmonics_3',\n        'C4': 'Harmonics_4',\n        'C5': 'Harmonics_5',\n        'C6': 'Harmonics_6',\n        'C7': 'Harmonics_7',\n        'C8': 'Harmonics_8',\n        'D1': 'AC_energyMate51',\n        'D2': 'energyMate52',\n    };\n}\n\nfunction reversePeripheralTypeMap() {\n    const reverse = {};\n    const map = peripheralTypeMap();\n    Object.keys(map).forEach((key) => {\n        reverse[map[key]] = key.toUpperCase();\n    });\n\n    return reverse;\n}\n\nfunction normalizeDecoded(decoded, unprocessed) {\n    const reverseMap = reversePeripheralTypeMap();\n    const packetDescriptions = packetTypeMap();\n    const packetType = String(decoded.packetType || '').toUpperCase();\n    const packetKind = decoded.type || (packetType === '13' ? 'data' : (packetType === '1A' ? 'heartbeat' : 'unsupported'));\n    const peripherals = [];\n\n    const peripheralDataArr = decoded.peripheralDataArr && typeof decoded.peripheralDataArr === 'object'\n        ? decoded.peripheralDataArr\n        : {};\n\n    Object.entries(peripheralDataArr).forEach(([peripheralName, values]) => {\n        const peripheralTypeHex = String(decoded.peripheralMeta?.[peripheralName]?.peripheralTypeHex || reverseMap[peripheralName] || '').toUpperCase();\n        const entries = Object.entries(values || {}).map(([ioNumber, value]) => ({\n            ioNumber: Number(ioNumber),\n            rawHex: Array.isArray(value) ? value[1] ?? null : null,\n            action: Array.isArray(value) ? value[2] ?? null : null,\n            value: Array.isArray(value) ? value[3] ?? null : null,\n        })).sort((left, right) => left.ioNumber - right.ioNumber);\n\n        peripherals.push({\n            peripheralName,\n            peripheralTypeHex,\n            values: entries,\n        });\n    });\n\n    return {\n        imei: String(decoded.imei || decoded.deviceId || ''),\n        deviceId: String(decoded.deviceId || decoded.imei || ''),\n        type: packetKind,\n        timestamp: decoded.timestamp || new Date().toISOString(),\n        firmwareVersion: String(decoded.firmwareVersion || ''),\n        packetType,\n        packetDescription: decoded.packetDescription || packetDescriptions[parseInt(packetType || '0', 16)] || 'Unknown',\n        segmentCount: String(decoded.segmentCount || peripherals.length.toString(16).padStart(2, '0')).toUpperCase(),\n        dataLength: String(decoded.dataLength || ''),\n        peripheralDataArr,\n        peripheralMeta: decoded.peripheralMeta || {},\n        peripherals,\n        unprocessed,\n    };\n}\n\nfunction decodeImoni(packet) {\n    const actionLengths = actionCodeLengths();\n    const actionLabels = actionCodeLabels();\n    const packetDescriptions = packetTypeMap();\n    const peripheralTypes = peripheralTypeMap();\n\n    packet = String(packet || '').replace(/{|}/g, '');\n\n    let imei = '';\n    for (let index = 1; index < 31; index += 2) {\n        imei += packet[index];\n    }\n\n    let years = '';\n    let months = '';\n    let days = '';\n    let hours = '';\n    let minutes = '';\n    let seconds = '';\n\n    for (let index = 31; index < 38; index += 2) {\n        years += packet[index];\n    }\n    for (let index = 39; index < 42; index += 2) {\n        months += packet[index];\n    }\n    for (let index = 43; index < 46; index += 2) {\n        days += packet[index];\n    }\n    for (let index = 47; index < 50; index += 2) {\n        hours += packet[index];\n    }\n    for (let index = 51; index < 54; index += 2) {\n        minutes += packet[index];\n    }\n    for (let index = 55; index < 58; index += 2) {\n        seconds += packet[index];\n    }\n\n    const firmwareVersion = packet.substring(58, 60);\n    const packetType = packet.substring(60, 62).toUpperCase();\n    const segmentCount = packetType === '1C' ? '00' : packet.substring(62, 64).toUpperCase();\n    const dataLength = packetType === '1C' ? '00' : packet.substring(64, 68).toUpperCase();\n    const packetKind = packetType === '13' ? 'data' : (packetType === '1A' ? 'heartbeat' : 'unsupported');\n\n    const output = {\n        imei,\n        deviceId: imei,\n        type: packetKind,\n        timestamp: `${years}/${months}/${days} ${hours}:${minutes}:${seconds}`,\n        firmwareVersion,\n        packetType,\n        packetDescription: packetDescriptions[parseInt(packetType, 16)] || 'Unknown',\n        segmentCount,\n        dataLength,\n        peripheralDataArr: {},\n        peripheralMeta: {},\n    };\n\n    let segmentStart = 68;\n    const totalSegments = parseInt(segmentCount, 16);\n\n    for (let segmentIndex = 0; segmentIndex < totalSegments; segmentIndex += 1) {\n        const segmentLength = parseInt(packet.substring(segmentStart + 4, segmentStart + 6), 16);\n        const dataUnitCount = parseInt(packet.substring(segmentStart + 2, segmentStart + 4), 16);\n        const peripheralTypeHex = packet.substring(segmentStart, segmentStart + 2).toUpperCase();\n        const peripheralName = peripheralTypes[peripheralTypeHex] || `Unknown_${peripheralTypeHex}`;\n\n        if (!output.peripheralDataArr[peripheralName]) {\n            output.peripheralDataArr[peripheralName] = {};\n            output.peripheralMeta[peripheralName] = {\n                peripheralName,\n                peripheralTypeHex,\n            };\n        }\n\n        let dataUnitStart = segmentStart + 6;\n        for (let dataUnitIndex = 0; dataUnitIndex < dataUnitCount; dataUnitIndex += 1) {\n            const actionCode = parseInt(packet.substring(dataUnitStart, dataUnitStart + 2), 16);\n            const dataUnitLength = actionLengths[actionCode];\n            const actionLabel = actionLabels[actionCode] || 'unknown';\n            const dataUnit = packet.substring(dataUnitStart, dataUnitStart + (dataUnitLength * 2));\n            const ioId = parseInt(dataUnit.substring(2, 4), 16);\n            const ioNumber = packetType === '14' ? (ioId & 0x0f) : (ioId & 0x1f);\n            const dataValue = parseInt(dataUnit.substring(4), 16);\n\n            if (dataValue !== 65535) {\n                output.peripheralDataArr[peripheralName][ioNumber] = [\n                    ioNumber,\n                    dataUnit,\n                    actionLabel,\n                    dataValue,\n                ];\n            }\n\n            dataUnitStart += dataUnitLength * 2;\n        }\n\n        segmentStart += segmentLength * 2;\n    }\n\n    return normalizeDecoded(output, packet);\n}\n\nconst unprocessed = msg.payload;\n\nif (unprocessed && typeof unprocessed === 'object' && !Array.isArray(unprocessed) && unprocessed.peripheralDataArr) {\n    msg.payload = normalizeDecoded(unprocessed, unprocessed.unprocessed || msg.unprocessed || unprocessed);\n    return msg;\n}\n\nmsg.payload = decodeImoni(unprocessed);\nmsg.unprocessed = unprocessed;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":280,"wires":[["nr_packet_guard_01"]]},{"id":"nr_packet_guard_01","type":"function","z":"b5d89b4377a11f18","name":"Packet Type Guard","func":"\nif (msg.payload && (msg.payload.type === 'data' || msg.payload.type === 'heartbeat')) {\n    return [msg, null];\n}\n\nreturn [null, {\n    payload: {\n        stage: 'packet_guard',\n        dropped_reason: 'unsupported_packet_type',\n        imei: msg.payload?.imei || null,\n        packet_type: msg.payload?.packetType || null,\n        packet_description: msg.payload?.packetDescription || null,\n    },\n}];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":280,"wires":[["nr_profile_resolve_01"],["nr_debug_diag_01"]]},{"id":"nr_profile_resolve_01","type":"function","z":"b5d89b4377a11f18","name":"Profile Resolve","func":"\nfunction buildRules(paths, mode) {\n    return paths.map((path) => ({\n        path,\n        mode,\n        stripPrefixBytes: 2,\n    }));\n}\n\nconst modbusBigEndian5 = buildRules([\n    'peripheralDataArr.Modbus1.1',\n    'peripheralDataArr.Modbus1.2',\n    'peripheralDataArr.Modbus2.1',\n    'peripheralDataArr.Modbus2.2',\n    'peripheralDataArr.Modbus3.1',\n    'peripheralDataArr.Modbus3.2',\n    'peripheralDataArr.Modbus4.1',\n    'peripheralDataArr.Modbus4.2',\n    'peripheralDataArr.Modbus5.1',\n    'peripheralDataArr.Modbus5.2',\n], 'bigEndianFloat32');\n\nconst modbusBigEndian8 = buildRules([\n    ...modbusBigEndian5.map((rule) => rule.path),\n    'peripheralDataArr.Modbus6.1',\n    'peripheralDataArr.Modbus6.2',\n    'peripheralDataArr.Modbus7.1',\n    'peripheralDataArr.Modbus7.2',\n    'peripheralDataArr.Modbus8.1',\n    'peripheralDataArr.Modbus8.2',\n], 'bigEndianFloat32');\n\nconst explicitProfiles = {\n    '869604063871346': { name: 'big_endian_water_meter', rules: modbusBigEndian5 },\n    '869604063798168': { name: 'big_endian_water_meter', rules: modbusBigEndian5 },\n    '869604063866593': { name: 'big_endian_water_meter', rules: modbusBigEndian8 },\n    '869604063870249': { name: 'big_endian_water_meter', rules: modbusBigEndian5 },\n    '869604063874209': { name: 'big_endian_water_meter', rules: buildRules([\n        ...modbusBigEndian8.map((rule) => rule.path),\n        'peripheralDataArr.Modbus9.1',\n        'peripheralDataArr.Modbus9.2',\n        'peripheralDataArr.Modbus12.1',\n        'peripheralDataArr.Modbus12.2',\n    ], 'bigEndianFloat32') },\n    '169604063874209': { name: 'big_endian_water_meter', rules: buildRules([\n        ...modbusBigEndian8.map((rule) => rule.path),\n        'peripheralDataArr.Modbus9.1',\n        'peripheralDataArr.Modbus9.2',\n    ], 'bigEndianFloat32') },\n    '869604063849748': { name: 'big_endian_water_meter', rules: buildRules([\n        'peripheralDataArr.Modbus1.1',\n        'peripheralDataArr.Modbus1.2',\n    ], 'bigEndianFloat32') },\n    '1869604063874209': { name: 'big_endian_water_meter', rules: modbusBigEndian5 },\n    '869604063845217': { name: 'big_endian_water_meter', rules: modbusBigEndian5 },\n    '869604063859564': { name: 'twos_complement_meter', rules: buildRules([\n        'peripheralDataArr.Modbus1.1',\n        'peripheralDataArr.Modbus2.1',\n        'peripheralDataArr.Modbus3.1',\n    ], 'twosComplement') },\n};\n\nconst familyProfiles = {\n    Modbus: {\n        name: 'modbus_passthrough',\n        rules: [],\n    },\n};\n\nconst peripheralFamily = Array.isArray(msg.payload?.peripherals)\n    ? msg.payload.peripherals.find((peripheral) => peripheral.peripheralName?.startsWith('Modbus'))?.peripheralName || null\n    : null;\n\nlet profile = explicitProfiles[msg.payload.imei] || null;\n\nif (profile === null && peripheralFamily !== null) {\n    profile = familyProfiles.Modbus;\n}\n\nmsg.conversionProfile = profile || {\n    name: 'passthrough',\n    rules: [],\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":280,"wires":[["nr_transform_01"]]},{"id":"nr_transform_01","type":"function","z":"b5d89b4377a11f18","name":"Transform Engine","func":"\nfunction readPath(target, path) {\n    return path.split('.').reduce((carry, segment) => carry && Object.prototype.hasOwnProperty.call(carry, segment) ? carry[segment] : undefined, target);\n}\n\nfunction hexToBigEndianFloat(hex, mode) {\n    if (hex.length % 2 !== 0) {\n        throw new Error('Invalid hex string length.');\n    }\n\n    const byteLength = hex.length / 2;\n    if (mode === 'bigEndianFloat32' && byteLength !== 4) {\n        throw new Error('Expected 4 bytes for float32.');\n    }\n    if (mode === 'bigEndianFloat64' && byteLength !== 8) {\n        throw new Error('Expected 8 bytes for float64.');\n    }\n\n    const bytes = [];\n    for (let index = 0; index < hex.length; index += 2) {\n        bytes.push(parseInt(hex.substring(index, index + 2), 16));\n    }\n\n    const view = new DataView(new ArrayBuffer(byteLength));\n    bytes.forEach((byte, index) => view.setUint8(index, byte));\n\n    return mode === 'bigEndianFloat64'\n        ? view.getFloat64(0, false)\n        : view.getFloat32(0, false);\n}\n\nfunction hexToTwosComplement(hex) {\n    if (hex.length % 2 !== 0) {\n        throw new Error('Invalid hex string length.');\n    }\n\n    let binary = '';\n    for (let index = 0; index < hex.length; index += 2) {\n        binary += parseInt(hex.substring(index, index + 2), 16).toString(2).padStart(8, '0');\n    }\n\n    if (binary[0] === '0') {\n        return parseInt(binary, 2);\n    }\n\n    let flipped = '';\n    for (const bit of binary) {\n        flipped += bit === '0' ? '1' : '0';\n    }\n\n    return -(parseInt(flipped, 2) + 1);\n}\n\nconst diagnostics = {\n    transform_errors: [],\n    transform_skips: [],\n};\n\nfor (const rule of msg.conversionProfile.rules || []) {\n    const entry = readPath(msg.payload, rule.path);\n\n    if (!Array.isArray(entry) || !entry[1]) {\n        diagnostics.transform_skips.push({\n            path: rule.path,\n            reason: 'missing_path',\n        });\n        continue;\n    }\n\n    const rawHex = String(entry[1]);\n    const prefixBytes = Number(rule.stripPrefixBytes || 0) * 2;\n    const strippedHex = rawHex.substring(prefixBytes);\n\n    try {\n        let convertedValue = entry[3];\n\n        if (rule.mode === 'bigEndianFloat32' || rule.mode === 'bigEndianFloat64') {\n            convertedValue = hexToBigEndianFloat(strippedHex, rule.mode);\n        }\n\n        if (rule.mode === 'twosComplement') {\n            convertedValue = hexToTwosComplement(strippedHex);\n        }\n\n        if (typeof rule.scale === 'number') {\n            convertedValue *= rule.scale;\n        }\n\n        entry[3] = convertedValue;\n    } catch (error) {\n        diagnostics.transform_errors.push({\n            path: rule.path,\n            mode: rule.mode,\n            message: error.message,\n        });\n    }\n}\n\nmsg.payload.peripherals = (msg.payload.peripherals || []).map((peripheral) => {\n    const values = peripheral.values.map((value) => {\n        const updatedEntry = readPath(msg.payload, `peripheralDataArr.${peripheral.peripheralName}.${value.ioNumber}`);\n\n        return {\n            ...value,\n            value: Array.isArray(updatedEntry) ? updatedEntry[3] : value.value,\n        };\n    });\n\n    return {\n        ...peripheral,\n        values,\n    };\n});\n\nmsg.diagnostics = {\n    ...(msg.diagnostics || {}),\n    ...diagnostics,\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":280,"wires":[["nr_normalize_01"]]},{"id":"nr_normalize_01","type":"function","z":"b5d89b4377a11f18","name":"Normalize To MQTT","func":"\nconst fallbackTopicPrefixByPeripheralType = {\n    '00': 'migration/imoni-lite',\n    '11': 'migration/ioext1',\n    '12': 'migration/ioext2',\n};\n\nconst sourceRoutedHubImeis = new Set([\n    '869244041754866',\n    '869244041759568',\n    '869244041767199',\n    '869244041759279',\n]);\n\nconst debugEnabled = msg._meta?.debug_enabled === true;\nconst receivedAt = msg._meta?.received_at || new Date().toISOString();\nconst payload = msg.payload || {};\nconst diagnostics = msg.diagnostics || {};\nconst mqttMessages = [\n    {\n        topic: 'devices/' + payload.imei + '/presence',\n        payload: {\n            status: 'online',\n            _meta: {\n                imei: payload.imei,\n                packet_type: payload.packetType,\n                packet_description: payload.packetDescription,\n                received_at: receivedAt,\n                source: 'node-red-imoni',\n            },\n        },\n        qos: 1,\n        retain: false,\n    },\n];\n\nconst publishedChildren = [];\nconst droppedPeripherals = [];\nconst route = sourceRoutedHubImeis.has(payload.imei)\n    ? 'source_peripheral_topics'\n    : 'peripheral_children';\n\nfor (const peripheral of payload.peripherals || []) {\n    if (!peripheral.peripheralTypeHex) {\n        droppedPeripherals.push({\n            peripheral_name: peripheral.peripheralName,\n            reason: 'missing_peripheral_type_hex',\n        });\n        continue;\n    }\n\n    const childPayload = {\n        peripheral_name: peripheral.peripheralName,\n        peripheral_type_hex: peripheral.peripheralTypeHex,\n    };\n\n    for (const value of peripheral.values || []) {\n        childPayload['io_' + value.ioNumber + '_value'] = value.value;\n        childPayload['io_' + value.ioNumber + '_action'] = value.action;\n        childPayload['io_' + value.ioNumber + '_raw_hex'] = value.rawHex;\n    }\n\n    if (route === 'source_peripheral_topics') {\n        const sourceKey = payload.imei + ':' + peripheral.peripheralTypeHex;\n        const sourceTopic = 'migration/source/imoni/' + payload.imei + '/' + peripheral.peripheralTypeHex + '/telemetry';\n\n        childPayload._meta = {\n            source: 'node-red-imoni',\n            source_adapter: 'imoni',\n            source_key: sourceKey,\n            hub_imei: payload.imei,\n            peripheral_name: peripheral.peripheralName,\n            peripheral_type_hex: peripheral.peripheralTypeHex,\n            packet_type: payload.packetType,\n            packet_description: payload.packetDescription,\n            received_at: receivedAt,\n            conversion_profile: msg.conversionProfile?.name || 'passthrough',\n            transform_errors: diagnostics.transform_errors || [],\n            transform_skips: diagnostics.transform_skips || [],\n        };\n\n        if (debugEnabled) {\n            childPayload._meta.unprocessed = payload.unprocessed;\n        }\n\n        mqttMessages.push({\n            topic: sourceTopic,\n            payload: childPayload,\n            qos: 1,\n            retain: false,\n        });\n\n        publishedChildren.push(sourceKey);\n\n        continue;\n    }\n\n    const topicPrefix = fallbackTopicPrefixByPeripheralType[peripheral.peripheralTypeHex];\n    if (!topicPrefix) {\n        droppedPeripherals.push({\n            peripheral_name: peripheral.peripheralName,\n            peripheral_type_hex: peripheral.peripheralTypeHex,\n            reason: 'unsupported_peripheral_type',\n        });\n        continue;\n    }\n\n    const childExternalId = payload.imei + '-' + peripheral.peripheralTypeHex;\n    childPayload._meta = {\n        hub_imei: payload.imei,\n        child_external_id: childExternalId,\n        peripheral_name: peripheral.peripheralName,\n        peripheral_type_hex: peripheral.peripheralTypeHex,\n        packet_type: payload.packetType,\n        packet_description: payload.packetDescription,\n        received_at: receivedAt,\n        source: 'node-red-imoni',\n        conversion_profile: msg.conversionProfile?.name || 'passthrough',\n        transform_errors: diagnostics.transform_errors || [],\n        transform_skips: diagnostics.transform_skips || [],\n    };\n\n    if (debugEnabled) {\n        childPayload._meta.unprocessed = payload.unprocessed;\n    }\n\n    mqttMessages.push({\n        topic: topicPrefix + '/' + childExternalId + '/telemetry',\n        payload: childPayload,\n        qos: 1,\n        retain: false,\n    });\n\n    publishedChildren.push(childExternalId);\n}\n\nreturn [mqttMessages, {\n    payload: {\n        stage: 'normalize',\n        imei: payload.imei,\n        organization_slug: null,\n        route,\n        packet_type: payload.packetType,\n        published_child_count: publishedChildren.length,\n        published_children: publishedChildren,\n        dropped_children: [],\n        dropped_peripherals: droppedPeripherals,\n        transform_errors: diagnostics.transform_errors || [],\n        transform_skips: diagnostics.transform_skips || [],\n    },\n}];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":280,"wires":[["nr_mqtt_out_01"],["nr_debug_publish_01"]]},{"id":"nr_mqtt_out_01","type":"mqtt out","z":"b5d89b4377a11f18","name":"Publish To Local MQTT","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c5812f56b80b9a3e","x":2100,"y":240,"wires":[]},{"id":"nr_debug_publish_01","type":"debug","z":"b5d89b4377a11f18","name":"Publish Summary","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":340,"wires":[]}]